/* .modal {
    position: relative;
    height: auto;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
} */

/* used the following css to position modals to center */
.dimmed.dimmable > .ui.animating.dimmer, .dimmed.dimmable > .ui.visible.dimmer, .ui.active.dimmer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ui.modal,
  .ui.active.modal {
    margin: 0 auto!important;
    top: auto !important;
    left: auto !important;
    transform-origin: center !important;
    transition: all ease .5s;
  }

  /* .modal { 
      position: relative;
      max-height: 85vh;
    } 

    .Semantic-Modal {
        top: unset!important;
        right: unset!important;
        bottom: unset!important;
        left: unset!important;
    } */

    .btn{
        margin-top: 20px;
    }

    .btn-1{
       margin-right: 5px;
       background: #fff;
       color: red;
       border: 2px solid red;
       border-radius: 3px;
       padding: 5px 10px;
       text-transform: uppercase;
    }

    .btn-2{
        background-color: rgb(21, 21, 22);
       color: red;
       border: 2px solid red;
       border-radius: 3px;
       padding: 5px 10px;
       text-transform: uppercase;
    }

    .loggedInUser{
        /* background-color: blue;
        display: flex;
        justify-content: center;
        margin:0; */
        float: right
    }

    .card_body{
        margin-bottom: 10px;
    }

    .pageTitle{
        display: flex;
        justify-content: center;
    }

    .btn_logout{
        float: right;
    }

    .icons{
        /* float: center; */
        /* align-items: center; */
        /* align-content: center; */

        position: relative;
        margin-right: 600px; 
        /* display: flex;
        margin-left: 350px; */
    }

    .container{
        height: 100px;
    }

    .landing_page_content{
        /* background-color: blue; */
        margin-top: 20px;
    }

    .customer_Accounts_Info{
        /* float: center; */
        font-size: 16px;
    }

    .depositAmount_input_field{
        /* display: flex;
        justify-content: center; */
    }

    .deposit_withdraw_btn{
        margin-bottom: 20px;
    }

    .social_media_icons{
        margin-top: 20px;
    }
    
    .footer{
        display: flex;
        justify-content: center;
       
    }