.loginPage{
    margin: 0px auto 0px auto;
}

.loginform{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.password_notes{
    margin-left: 10px;
}

.userNameError{
    margin-bottom: 15px;
}

.check_availablility{
    margin-top: 0;
    margin-bottom: 20px;
    margin-right:200px;
}