.checkboxes{
    margin-top: 40px;
}

.customer_info_table{
    margin-top: 20px;
}

.accounts_table{
    margin-top: 20px;
}

.checkbox-1, .checkbox-2, .checkbox-3{
    margin-left: 25px;
}

.icon{
    float: right;
    margin-right: 0px;
}