.username_field{
    /* display:inline-block; */
    /* float: left; */
}

.password_notes{
    display:inline-fl;
    float: right;
}

.password_notes{
    margin-right: 300px;
    margin-bottom: 20px;
}